<nav id="my-nav" class="navbar">
    <div class="logo">
        <a href="@Url.Action("Index", "Home")">
            <img id="logo" src="~/assets/logo.svg" alt="CodingBuddy C-shaped logo in blue and purple" />
        </a>
    </div>
    <div id="logo-text" class="logo-text"><a>@Html.ActionLink("CODINGBUDDY", "Index", "Home")</a></div>
    <ul id="navbar-list" class="nav-list">
        <li class="list-item">
            <a>@Html.ActionLink("Home", "Index", "Home")</a>
        </li>
        <li class="list-item">
            <a>@Html.ActionLink("About", "About", "Home")</a>
        </li>
        <li class="list-item">
            <a>@Html.ActionLink("FAQ", "FAQ", "Home")</a>
        </li>
        <li class="list-item">
            <a>@Html.ActionLink("Questions", "Random", "Questions")</a>
        </li>
    </ul>
    <ul id="login-list" class="login-signup-list">
            <li class="list-item">
                <a id="login-button">
                    Login
                </a>
            </li>
            <li class="list-item">
                <a id="signup-button">
                    Sign Up
                </a>
            </li>
    </ul>
    <div id="toggle-button" class="menu">
        <div class="menu-line"></div>
        <div class="menu-line"></div>
        <div class="menu-line"></div>
    </div>
</nav>